{% extends "base.html" %}
{% load staticfiles %}
{% block css%}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<body>
		<p><b style="color:red">{{state}}</b></p>
		<p/>
		<div class="container">
		     	<form  action="" class="form-signin" method="POST" >
		     		<input type="hidden" name="next" value="{{next}}" />
					{% csrf_token %}
			        <h2 class="form-signin-heading">Please sign in</h2>
 			        <label for="username" class="sr-only">Username</label>
 			        <input type="text" id="username" name="username" class="form-control" value="{{username}}" placeholder="Username" required="" autofocus="" >
			        <label for="password" class="sr-only">Password</label>
			        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
			        <div class="checkbox">
		          		<label>
		            		<input type="checkbox" value="remember-me"> Remember me
		         		</label>
       				</div>
       				<div> 
       					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
       				</div>
       				 <div>
       				 	 Are you new user ? <a  href="/register"> <b> Register</b></a>
       				 </div>
       				 <div>
       				 	 <a  href="/user/password/reset/"> <b> Forget Password ?</b></a>
       				 </div>
			</form>
		</div>
	</body>
{% endblock %}	